
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New nature</title>
</head>
<body>
    <h1>Create New nature</h1>
    <form action="/natures" method="post">
        Title: <input type="text" name="title" required><br>
        Author: <input type="text" name="author" required><br>
        Completed <input type="checkbox" name="completed"><br>
        <input type="submit" value="Add nature">
    </form>
</body>
</html>